<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cdjzxy.monitoringassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.wonders.health.lib.base.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="cn.cdjzxy.monitoringassistant.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="1280" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="720" />

        <activity
            android:name=".mvp.ui.module.launch.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.ui.module.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.TaskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.TaskSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.TaskSearchResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.TaskDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.precipitation.PrecipitationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".mvp.ui.module.task.wastewater.WastewaterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".mvp.ui.module.repository.RepositoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.repository.RepositorySearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.setting.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.webview.WebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.msg.MsgActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.msg.MsgDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.print.FormPrintActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.print.LabelPrintActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.point.PointActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.point.PointSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.point.ProgramModifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />


        <activity
            android:name=".mvp.ui.module.task.point.MonItemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.device.DeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.UserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.module.task.MethodActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mvp.ui.module.task.TypeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <service android:name=".services.RepositoryService" />

    </application>

</manifest>